@import "./assets/scss/variables";

%header-item-styles {
  margin: 20px;
  font-size: 20px;
  line-height: 28px;
}

%paragraph-styles {
  margin: 0;
  line-height: 44px;
}

.App {
  position: relative;
}

.App--grey {
  height: 100vh;
  background-color: $light-grey;
}

.header {
  display: flex;
  justify-content: space-between;

  &__headline {
    @extend %header-item-styles;
    font-weight: bold;

    &--hidden {
      visibility: hidden;
    }
  }

  &__favourite {
    @extend %header-item-styles;
    padding-left: 34px;
    position: relative;
    font-weight: 500;
    color: $grey;
    background-color: inherit;
    border: 0;

    &:focus {
      outline: none;
    }

    &::before {
      position: absolute;
      content: "";
      width: 28px;
      height: 28px;
      left: 0;
      background-color: $black;
      border-radius: 15px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 14px;
      height: 8px;
      top: 11px;
      left: 7px;
      border-top: 2px solid $white;
      border-bottom: 2px solid $white;
    }

    &--open {
      &::after {
        position: absolute;
        content: "\00d7";
        top: 0;
        left: 7px;
        font-size: 25px;
        color: $white;
        border: 0;
      }
    }
  }
}

.main {
  padding: 0 20px;

  &__hey {
    @extend %paragraph-styles;
    margin-top: 60px;
    font-size: 32px;
    font-weight: bold;
  }

  &__title {
    @extend %paragraph-styles;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__headline {
      margin: 40px;
      visibility: visible;
    }

    &__favourite {
      margin: 40px;
    }
  }

  .main {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1200px) {
  .App--grey {
    background-color: $white;
  }
}
